/* src/components/RegisterForm.module.css */

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Gunakan min-height agar kontainer tetap terpusat saat konten meluas */
}

.registerForm {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Warna latar belakang formulir */
}

.registerForm h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.registerForm label {
  display: block;
  margin-bottom: 10px;
}

.registerForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.registerForm button {
  width: 100%;
  padding: 12px 0;
  background-color: #1a237e; /* Warna tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.registerForm button:hover {
  background-color: #263238; /* Warna tombol saat dihover */
}
